.button {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  font-size: 14px;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.button:hover {
  background-color: #5084fc !important;
  color: #FFF !important;
}
.button.button-mini {
  height: 32px;
  line-height: 32px;
}
.button i {
  margin-right: 7px;
}
.input-text {
  width: 348px;
  padding: 9px 10px;
  border: 1px solid #d6dbdf;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  outline: none;
}
.drop-down-box {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  width: 102px;
}
.drop-down-box .drop-down-a {
  color: #000;
}
.drop-down-box .drop-down-a .drop-down-text {
  margin-right: 5px;
}
.drop-down-box .drop-down-a .iconfont-arrow {
  font-size: 12px;
}
.message-number {
  display: inline-block;
  color: #FFF;
  height: 16px;
  line-height: 16px;
  padding: 1px 4px;
  background-color: #ff5c57;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.arrow {
  position: absolute;
  border-width: 5px;
  top: 50%;
}
.arrow.arrow-left,
.arrow.arrow-right {
  margin-top: -6px;
}
.arrow.arrow-left {
  border-style: dashed solid dashed dashed;
  border-color: transparent #2c405a transparent transparent;
}
.arrow.arrow-right {
  border-style: dashed dashed dashed solid;
  border-color: transparent transparent transparent #2c405a;
}
.arrow.arrow-top {
  margin-top: -8px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #2c405a transparent;
}
.arrow.arrow-bottom {
  margin-top: -3px;
  border-style: solid dashed dashed dashed;
  border-color: #2c405a transparent transparent transparent;
}
.paginator {
  font-size: 12px;
  line-height: 48px;
  float: right;
  margin-right: 30px;
  color: #97a1b5;
}
.paginator li {
  display: inline-block;
}
.paginator li.page {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-left: 5px;
  cursor: pointer;
  border: 1px solid #cdd9e9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.paginator li.page:hover {
  color: #6b59c9;
  border-color: #6b59c9;
}
.paginator li.focus {
  background-color: #6b59c9;
  color: #FFFFFF;
  border-color: #6b59c9;
}
.paginator li.focus:hover {
  color: #FFF;
}
.paginator li.page-ellipse {
  border: none;
  cursor: default;
}
.paginator li.page-jump-area .input-text {
  width: 48px;
  height: 30px;
}
.paginator li.page-jump-area .button {
  background-color: #FFF;
  color: #000;
  font-size: 14px;
  border: 1px solid #cdd9e9;
  height: 30px;
  line-height: 30px;
}
.paginator li.page-jump-area:hover {
  color: #97a1b5;
}
.ui-paging-container {
  color: #666;
  font-size: 12px;
}
.ui-paging-container ul {
  overflow: hidden;
  float: right;
  line-height: 30px;
}
.ui-paging-container ul li {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-left: 5px;
  color: #97a1b5;
}
.ui-paging-container ul li.ui-pager {
  cursor: pointer;
  border: 1px solid #cdd9e9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.ui-paging-container ul li:hover {
  color: #6b59c9;
  border-color: #6b59c9;
}
.ui-paging-container ul li.focus {
  background-color: #6b59c9;
  color: #FFFFFF;
  border-color: #6b59c9;
}
.ui-paging-container ul li.ui-paging-ellipse {
  border: none;
}
.ui-paging-container ul li.ui-paging-toolbar {
  width: 156px;
  text-align: left;
}
html,
body,
p,
div,
a,
ul,
li,
dl,
dt,
dd,
span,
em,
h2,
h3,
h4,
i {
  margin: 0;
  padding: 0;
}
body,
input,
textarea,
a,
select {
  -webkit-font-smoothing: antialiased;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", STHeiti, Arial, SimSun, sans-serif;
  font-size: 13px;
}
body *,
body *:after,
body *:before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
*:focus,
*:active,
a:linked {
  outline: 0 !important;
}
ul,
li {
  list-style: none;
}
em,
i {
  font-style: normal;
}
a {
  text-decoration: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
@font-face {
  font-family: 'iconfont';
  /* project id 203349 */
  src: url('//at.alicdn.com/t/font_2qv0t4z7tkervn29.eot');
  src: url('//at.alicdn.com/t/font_2qv0t4z7tkervn29.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_2qv0t4z7tkervn29.woff') format('woff'), url('//at.alicdn.com/t/font_2qv0t4z7tkervn29.ttf') format('truetype'), url('//at.alicdn.com/t/font_2qv0t4z7tkervn29.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navigator {
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
  background-color: #6b59c9;
}
.navigator .logo-field {
  display: block;
  width: 200px;
  background-color: #6347bd;
  padding-left: 58px;
  line-height: 60px;
  font-weight: bold;
  font-size: 17px;
  color: #fff;
}
.navigator .logo {
  position: absolute;
  left: 25px;
  top: 17px;
  width: 25px;
  height: 25px;
  background: url(img/logo.png);
  background-size: 100%;
}
.navigator .user-field {
  width: 215px;
  position: absolute;
  top: 0;
  right: 80px;
  padding-right: 13px;
}
.navigator .user-field li {
  float: left;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.navigator .user-field li.QR-Code,
.navigator .user-field li.message {
  width: 50px;
  height: 60px;
}
.navigator .user-field li.QR-Code i,
.navigator .user-field li.message i {
  font-size: 21px;
}
.navigator .user-field li .message-a {
  position: relative;
}
.navigator .user-field li .message-a .message-number {
  position: absolute;
  left: 11px;
  top: -11px;
}
.navigator .user-field li.user {
  width: 102px;
}
.navigator .user-field li a {
  color: #FFF;
}
.menu {
  position: fixed;
  left: 0;
  top: 60px;
  bottom: 0;
  width: 200px;
  overflow: hidden;
  overflow-y: scroll;
  border-right: 1px solid #d6dbdf;
}
.menu .mark {
  margin-right: 13px;
  position: relative;
  top: 2px;
}
.menu a.menu-item,
.menu a.menu-group-item {
  display: block;
  cursor: pointer;
  color: #2c405a;
}
.menu a.menu-item:hover,
.menu a.menu-group-item:hover {
  background-color: #e2e0ed;
}
.menu .menu-item,
.menu .menu-group-title {
  position: relative;
  padding-left: 25px;
}
.menu .menu-item {
  height: 55px;
  line-height: 55px;
}
.menu .menu-group .menu-group-item {
  padding-left: 58px;
}
.menu .menu-group .menu-group-title {
  height: 55px;
  line-height: 55px;
  cursor: pointer;
}
.menu .menu-group .menu-group-title:hover {
  background-color: #e2e0ed;
}
.menu .menu-group .menu-group-item {
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}
.menu .menu-group .menu-group-title .iconfont-arrow {
  position: absolute;
  right: 25px;
  font-size: 12px;
}
.menu .menu-item-active {
  color: #6347bd;
  background-color: #f0eefc;
}
.menu .menu-item-active:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 4px;
  height: 55px;
  background-color: #6347bd;
}
.console {
  padding: 20px 60px 100px 39px;
  margin: 60px 0 0 200px;
  background-color: #edf0f5;
  overflow: hidden;
}
.console .container {
  border: 1px solid #d6dbdf;
}
.console .container .search-bar {
  position: relative;
  height: 59px;
  line-height: 59px;
  background-color: #FFF;
}
.console .container .search-bar input {
  margin-left: 24px;
  margin-right: 10px;
}
.console .container .search-bar .drop-down-box .drop-down-text {
  color: #6b59c9;
}
.console .container .search-bar .drop-down-box i {
  color: #2c405a;
}
.console .container .search-bar .button {
  position: absolute;
  top: 50%;
  right: 24px;
  margin-top: -20px;
  background-color: #6b59c9;
  color: #FFF;
}
.console .container .orders-box {
  border-collapse: collapse;
}
.console .container .orders-bar-title {
  background-color: #717ea1;
}
.console .container .orders-item-data {
  height: 40px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
}
.console .container .orders-item-data:nth-of-type(1) a {
  color: #FFF;
}
.console .container .orders-item-data:nth-of-type(1) a img {
  position: relative;
  top: 2px;
  left: 5px;
  width: 13px;
  height: 13px;
}
.console .container .orders-item-data .button {
  background-color: #e9e7f7;
  color: #6b59c9;
}
.console .container tbody tr {
  border-top: 1px dashed #cdd9e9;
}
.console .container tbody tr:nth-of-type(1) {
  border: none;
}
.console .container tbody tr:nth-of-type(odd) {
  background-color: #FFF;
}
.console .container tbody tr:nth-of-type(even) {
  background-color: #f3f4f9;
}
.console .container tbody tr .orders-item-data {
  height: 78px;
  color: #2c405a;
}
.console .container tbody tr .orders-item-data.status-back {
  color: #ff5c57;
}
.console .pageToolbar {
  height: 48px;
  border: 1px solid #d6dbdf;
  background-color: #FFF;
  margin-top: 15px;
}
.console .remind {
  position: fixed;
  top: 80px;
  right: 0;
}
.console .remind .remind-tips {
  width: 44px;
  border: 1px solid #d6dbdf;
  border-right: none;
  text-align: center;
  padding: 18px 0;
  cursor: pointer;
  background-color: #f3f4f9;
}
.console .remind .remind-tips .remind-tips-text {
  margin: 0 0 10px 15px;
  font-size: 14px;
  width: 14px;
}
.console .remind .remind-content {
  position: absolute;
  left: 44px;
  top: 0;
  width: 155px;
  background-color: #FFF;
  padding: 9px 20px;
  border-top: 1px solid #d6dbdf;
  border-left: 1px solid #d6dbdf;
}
.console .remind .remind-content .remind-box .remind-item {
  line-height: 33px;
  cursor: pointer;
}
.console .remind .remind-content .remind-box .remind-item .message-number {
  margin-left: 10px;
}
